# **Python For Neuro Week 6**: More Numpy and Pandas

## Warmup

We're going to start today by loading in ```mat_1.npy``` again. If you don't remember how to do this, use google to find the right function to use. Please assign the array to variable called ```arr```.

In [5]:
# load in data
import numpy as np
arr = np.load("mat_2.npy") #your code here
arr = np.load("ex_array.npy")

## Summary operations

Summary operations allow you to collapse an array according to a certain summary statistic. For instance, we may want to compute the overall mean firing rate in our experimental data:

In [6]:
arr.mean()

np.float64(0.8717270073789575)

You can also specify the axis along we want to average. For instance, maybe we want to average firing rates across individual trials:

In [7]:
arr.shape

(2, 10, 50, 2000)

In [10]:
arr_across_trials = arr.mean(axis=1)

In [11]:
arr_across_trials.shape

(2, 50, 2000)

The `keepdims` argument means that you don't remove the dimensions you're averaging over, but rather set their length to 1:

In [12]:
arr_across_trials = arr.mean(axis=1, keepdims=True)

In [13]:
arr_across_trials.shape

(2, 1, 50, 2000)

You can average across multiple axes as well. For instance, maybe you want to average across both trials and time:

In [14]:
arr_across_trials_and_time = arr.mean(axis=(1,3))

In [15]:
arr_across_trials_and_time.shape

(2, 50)

### Question 1

- What is the average firing rate across all neurons, times, and trials for each condition?
- (Advanced.) Subtract the average firing rate per time across all neurons, trials, and conditions from the original array.

In [ ]:
#Conditions X Trials X Neurons X Times
#(2, 10, 50, 2000)
avg_condition = arr.mean(axis=(1,2,3))
avg_condition

array([0.98828779, 0.75516623])

In [27]:
avg_overall = arr.mean(axis=3, keepdims=True)
avg_overall

array([[[[0.80742424],
         [0.74016162],
         [0.81681172],
         [1.65575787],
         [0.80749243],
         [3.21144562],
         [1.49389711],
         [0.9481103 ],
         [1.41178949],
         [0.69679328],
         [1.16285819],
         [0.41128182],
         [1.69503175],
         [1.12716475],
         [0.4346607 ],
         [1.41826824],
         [0.41850279],
         [1.54254267],
         [0.49353227],
         [1.15003511],
         [0.57924918],
         [0.47573957],
         [0.81863396],
         [0.70922196],
         [1.17804654],
         [0.68254104],
         [0.42380461],
         [0.5010124 ],
         [0.6912998 ],
         [0.44547417],
         [1.0443585 ],
         [1.35087757],
         [1.29488216],
         [0.5180869 ],
         [0.47273588],
         [1.06435159],
         [1.19496128],
         [0.43473671],
         [1.18065018],
         [0.85116992],
         [0.98771034],
         [1.60835265],
         [0.41916973],
         [1.34757764],
         [1.15135394],
         [0.89122045],
         [0.43070165],
         [0.47509212],
         [2.3617045 ],
         [1.28733447]],

        [[0.7692643 ],
         [0.72872816],
         [0.83475397],
         [1.63193638],
         [0.81021871],
         [3.20095931],
         [1.49384183],
         [0.96504648],
         [1.40544545],
         [0.71944253],
         [1.13863383],
         [0.40759319],
         [1.70055286],
         [1.13379559],
         [0.44717017],
         [1.40029356],
         [0.42411835],
         [1.55187734],
         [0.50993404],
         [1.12777186],
         [0.59372255],
         [0.46425766],
         [0.83136058],
         [0.71942706],
         [1.17351779],
         [0.69725187],
         [0.42763812],
         [0.50750514],
         [0.69886223],
         [0.44386501],
         [1.02055512],
         [1.34968355],
         [1.28716323],
         [0.51791176],
         [0.48997422],
         [1.07902844],
         [1.19175516],
         [0.42996502],
         [1.19989621],
         [0.84031778],
         [0.99622788],
         [1.59445868],
         [0.40269416],
         [1.34957416],
         [1.14859559],
         [0.91765036],
         [0.45220878],
         [0.48405315],
         [2.37000642],
         [1.2914271 ]],

        [[0.79731825],
         [0.73408851],
         [0.86303736],
         [1.6643957 ],
         [0.76614476],
         [3.19305722],
         [1.49045269],
         [0.94603021],
         [1.41445815],
         [0.69467536],
         [1.16255767],
         [0.41403672],
         [1.69375686],
         [1.10587387],
         [0.43170117],
         [1.39995765],
         [0.41652473],
         [1.56403767],
         [0.50503409],
         [1.15316818],
         [0.60164402],
         [0.47601745],
         [0.80946533],
         [0.71463921],
         [1.18484961],
         [0.70760665],
         [0.41699103],
         [0.52192643],
         [0.69721328],
         [0.43847458],
         [1.02887736],
         [1.36638026],
         [1.28699259],
         [0.51729861],
         [0.46937266],
         [1.0807512 ],
         [1.19604471],
         [0.42864494],
         [1.19365814],
         [0.82604724],
         [0.99952519],
         [1.60678097],
         [0.41833671],
         [1.35533404],
         [1.14685872],
         [0.91540553],
         [0.42076493],
         [0.47050414],
         [2.37594268],
         [1.29783393]],

        [[0.79409842],
         [0.74028056],
         [0.84532218],
         [1.65311106],
         [0.79355165],
         [3.21780999],
         [1.51343032],
         [0.95014552],
         [1.4148944 ],
         [0.69372795],
         [1.15208684],
         [0.41717106],
         [1.69254366],
         [1.10952141],
         [0.4354154 ],
         [1.40815259],
         [0.414998  ],
         [1.56521655],
         [0.49707643],
         [1.12155516],
         [0.59640215],
         [0.4712695 ],
         [0.82618177],
         [0.72065539],
         [1.18958923],
         [0.6967527 ],
         [0.4141129 ],
         [0.5044955 ],
         [0.67808175],
         [0.44366656],
         [1.04494114],
         [1.37650779],
         [1.28089499],
         [0.50356114],
         [0.46608473],
         [1.08258945],
         [1.19179581],
         [0.43115191],
         [1.17997128],
         [0.86065656],
         [0.99346986],
         [1.5979155 ],
         [0.41990248],
         [1.36286564],
         [1.16306217],
         [0.9243471 ],
         [0.44588383],
         [0.48148254],
         [2.37148231],
         [1.30458533]],

        [[0.78741827],
         [0.76043991],
         [0.83659401],
         [1.66496261],
         [0.77080806],
         [3.233911  ],
         [1.5344064 ],
         [0.9520921 ],
         [1.4169415 ],
         [0.68604028],
         [1.162446  ],
         [0.40436907],
         [1.70403475],
         [1.13063791],
         [0.44079787],
         [1.41448079],
         [0.41650864],
         [1.56954094],
         [0.50035697],
         [1.13751343],
         [0.57158673],
         [0.46885445],
         [0.81650234],
         [0.70849731],
         [1.20255535],
         [0.71205715],
         [0.40269163],
         [0.50757211],
         [0.69514602],
         [0.45770497],
         [1.03670102],
         [1.36211972],
         [1.29212802],
         [0.51028571],
         [0.47556395],
         [1.06700217],
         [1.19448149],
         [0.42493751],
         [1.19758976],
         [0.85426603],
         [0.99575464],
         [1.61531725],
         [0.4232378 ],
         [1.36008261],
         [1.15163676],
         [0.90775505],
         [0.42709058],
         [0.48481695],
         [2.36684529],
         [1.31460162]],

        [[0.8126479 ],
         [0.74616219],
         [0.82885651],
         [1.63025549],
         [0.81179224],
         [3.20919594],
         [1.51265642],
         [0.9582851 ],
         [1.41737303],
         [0.68516133],
         [1.13725163],
         [0.42772047],
         [1.67879919],
         [1.11163793],
         [0.42868409],
         [1.40068462],
         [0.425037  ],
         [1.56478657],
         [0.50256618],
         [1.12560109],
         [0.5912338 ],
         [0.46487098],
         [0.82116243],
         [0.7187494 ],
         [1.16555804],
         [0.70539795],
         [0.40530648],
         [0.51356805],
         [0.69118831],
         [0.44982161],
         [1.0352878 ],
         [1.35869404],
         [1.29173842],
         [0.50734521],
         [0.47195067],
         [1.07275181],
         [1.18682218],
         [0.4201242 ],
         [1.18821053],
         [0.84525558],
         [0.99805816],
         [1.62157   ],
         [0.41750615],
         [1.35273982],
         [1.15307863],
         [0.92181225],
         [0.42514235],
         [0.4719649 ],
         [2.38527304],
         [1.29529324]],

        [[0.79873736],
         [0.74506499],
         [0.84349178],
         [1.64508984],
         [0.79761806],
         [3.21315214],
         [1.49022876],
         [0.96309751],
         [1.41889082],
         [0.69090378],
         [1.15574218],
         [0.41126811],
         [1.69179035],
         [1.13518446],
         [0.43553441],
         [1.40656725],
         [0.42575056],
         [1.55670023],
         [0.48187426],
         [1.13082782],
         [0.58646461],
         [0.4684302 ],
         [0.81277268],
         [0.72647512],
         [1.18532854],
         [0.70434952],
         [0.41810559],
         [0.50265103],
         [0.69846564],
         [0.45580658],
         [1.04133898],
         [1.35992477],
         [1.30013515],
         [0.51614523],
         [0.486054  ],
         [1.07567245],
         [1.18686264],
         [0.4192784 ],
         [1.18137042],
         [0.8571649 ],
         [1.00041419],
         [1.60106245],
         [0.42068367],
         [1.36657437],
         [1.16050521],
         [0.90168512],
         [0.4382181 ],
         [0.48508593],
         [2.3728263 ],
         [1.29461484]],

        [[0.78865498],
         [0.75398853],
         [0.83567536],
         [1.662541  ],
         [0.77906083],
         [3.20429959],
         [1.4968707 ],
         [0.96330404],
         [1.41250583],
         [0.68521643],
         [1.15960721],
         [0.42073086],
         [1.70340523],
         [1.13954947],
         [0.43794699],
         [1.40325618],
         [0.42315085],
         [1.56660629],
         [0.4944569 ],
         [1.11568087],
         [0.57625757],
         [0.46949363],
         [0.82449336],
         [0.71609328],
         [1.16362389],
         [0.70685887],
         [0.40849249],
         [0.49478584],
         [0.69067547],
         [0.45472848],
         [1.03089395],
         [1.35215873],
         [1.30780844],
         [0.51839062],
         [0.4790439 ],
         [1.0741828 ],
         [1.19180943],
         [0.4325914 ],
         [1.19924364],
         [0.84349155],
         [0.98609662],
         [1.60984529],
         [0.41572408],
         [1.35582239],
         [1.17250735],
         [0.91688474],
         [0.42992533],
         [0.48703385],
         [2.36374625],
         [1.29449259]],

        [[0.78679636],
         [0.77693648],
         [0.83430589],
         [1.64411248],
         [0.79707005],
         [3.21625405],
         [1.50767369],
         [0.95981892],
         [1.41715062],
         [0.7186626 ],
         [1.14722314],
         [0.4230347 ],
         [1.67640881],
         [1.13342651],
         [0.42072288],
         [1.39231206],
         [0.4214317 ],
         [1.55545292],
         [0.49279846],
         [1.13226025],
         [0.58355164],
         [0.48207602],
         [0.81569216],
         [0.71623917],
         [1.16856983],
         [0.69628119],
         [0.42220958],
         [0.50167356],
         [0.67637743],
         [0.44829993],
         [1.0337189 ],
         [1.34892446],
         [1.30725892],
         [0.5137605 ],
         [0.46603116],
         [1.07053494],
         [1.19553616],
         [0.4254056 ],
         [1.186659  ],
         [0.8411687 ],
         [0.99864971],
         [1.59778751],
         [0.42106282],
         [1.35772106],
         [1.17275443],
         [0.90923539],
         [0.42967794],
         [0.47355938],
         [2.35759962],
         [1.30016715]],

        [[0.78334218],
         [0.74582628],
         [0.85429607],
         [1.63355316],
         [0.80728076],
         [3.18539932],
         [1.52287671],
         [0.95984968],
         [1.42894816],
         [0.69536528],
         [1.16028601],
         [0.42483036],
         [1.69719835],
         [1.10833089],
         [0.43728051],
         [1.41066235],
         [0.42963929],
         [1.55730349],
         [0.48097478],
         [1.14070357],
         [0.58346076],
         [0.47974161],
         [0.8083818 ],
         [0.72323204],
         [1.18798682],
         [0.70131852],
         [0.40894534],
         [0.50911223],
         [0.68341999],
         [0.45786777],
         [1.04282979],
         [1.36410878],
         [1.28080209],
         [0.51406954],
         [0.47388521],
         [1.08718043],
         [1.19286993],
         [0.4313005 ],
         [1.18343671],
         [0.82411259],
         [0.99485844],
         [1.60148233],
         [0.41995177],
         [1.35695894],
         [1.16817011],
         [0.91381097],
         [0.44789378],
         [0.4910987 ],
         [2.37173927],
         [1.31338052]]],


       [[[0.65888226],
         [1.03094676],
         [0.60470843],
         [1.00936156],
         [0.58819195],
         [1.30437644],
         [1.12060556],
         [0.65968482],
         [0.57331317],
         [0.53268769],
         [0.65918249],
         [1.36857678],
         [0.9826829 ],
         [0.47769076],
         [0.57021051],
         [0.51112764],
         [0.84571737],
         [0.472862  ],
         [1.00382668],
         [1.00943253],
         [0.71975294],
         [0.48829287],
         [0.49671186],
         [0.48849547],
         [0.83667418],
         [0.46520914],
         [0.47870018],
         [0.46894481],
         [0.64551293],
         [1.19508126],
         [0.79923583],
         [0.4828489 ],
         [1.38584591],
         [1.51361329],
         [1.06736485],
         [0.47867204],
         [0.53066406],
         [0.48029957],
         [0.73016494],
         [0.81667062],
         [0.56489403],
         [0.8069737 ],
         [0.99922755],
         [0.57678449],
         [0.52539689],
         [0.70312957],
         [0.62237263],
         [0.46791929],
         [0.97593283],
         [0.98899356]],

        [[0.64398885],
         [1.01446992],
         [0.60434058],
         [1.00087254],
         [0.58288394],
         [1.29928979],
         [1.1201052 ],
         [0.63953898],
         [0.5632784 ],
         [0.52526638],
         [0.65154102],
         [1.3535493 ],
         [1.00563621],
         [0.48002975],
         [0.56853105],
         [0.52434517],
         [0.86736425],
         [0.46288205],
         [1.02700077],
         [1.01158974],
         [0.73928456],
         [0.49580069],
         [0.48488888],
         [0.4655905 ],
         [0.83046951],
         [0.47746339],
         [0.49086533],
         [0.47627777],
         [0.65234733],
         [1.19008927],
         [0.82692673],
         [0.47443846],
         [1.38179029],
         [1.50015117],
         [1.05874426],
         [0.47998421],
         [0.52745107],
         [0.5117323 ],
         [0.74122623],
         [0.81045751],
         [0.55330248],
         [0.81920482],
         [0.98014654],
         [0.55785151],
         [0.5352234 ],
         [0.71999327],
         [0.61385576],
         [0.47548526],
         [0.9642436 ],
         [0.98059666]],

        [[0.64354416],
         [1.02988588],
         [0.6095829 ],
         [0.98044093],
         [0.59003414],
         [1.29965678],
         [1.10820891],
         [0.65449476],
         [0.56927041],
         [0.52306196],
         [0.66104902],
         [1.37019028],
         [0.99759196],
         [0.49570396],
         [0.58094581],
         [0.53831132],
         [0.84523778],
         [0.45891971],
         [1.01842794],
         [1.01491872],
         [0.73507397],
         [0.5143806 ],
         [0.48278304],
         [0.48557477],
         [0.84974959],
         [0.46175947],
         [0.4823287 ],
         [0.47830057],
         [0.63729108],
         [1.21120697],
         [0.83350979],
         [0.46318269],
         [1.39177699],
         [1.49367516],
         [1.03944749],
         [0.49365429],
         [0.53552996],
         [0.49052175],
         [0.71694102],
         [0.80478599],
         [0.57397879],
         [0.80681696],
         [0.99251547],
         [0.5716782 ],
         [0.53117077],
         [0.71051116],
         [0.62603314],
         [0.47019854],
         [0.97686094],
         [0.99238664]],

        [[0.67408365],
         [1.02757226],
         [0.59540431],
         [1.00644352],
         [0.57764025],
         [1.29629819],
         [1.10064006],
         [0.63557007],
         [0.5605024 ],
         [0.51689449],
         [0.66128112],
         [1.37140862],
         [0.9900474 ],
         [0.47711468],
         [0.58135492],
         [0.52914057],
         [0.82905017],
         [0.46712708],
         [0.99489266],
         [0.99567008],
         [0.72277533],
         [0.49196413],
         [0.47424026],
         [0.47664312],
         [0.8389279 ],
         [0.47912753],
         [0.49276929],
         [0.45743311],
         [0.62426628],
         [1.18791632],
         [0.79860186],
         [0.47096213],
         [1.39756082],
         [1.50033609],
         [1.04968472],
         [0.48101934],
         [0.53245655],
         [0.49531578],
         [0.71897856],
         [0.83269848],
         [0.55268077],
         [0.83074363],
         [0.98085565],
         [0.58957282],
         [0.52052717],
         [0.72732013],
         [0.64247087],
         [0.46881673],
         [0.98951043],
         [0.96176267]],

        [[0.64162954],
         [1.01195698],
         [0.60066718],
         [0.99691266],
         [0.58762965],
         [1.30994466],
         [1.11617253],
         [0.65794368],
         [0.56094954],
         [0.52330848],
         [0.63868186],
         [1.37222047],
         [0.99335291],
         [0.47035925],
         [0.57747809],
         [0.53235734],
         [0.82819186],
         [0.46300702],
         [0.98841026],
         [1.00005376],
         [0.74523797],
         [0.49037856],
         [0.48681298],
         [0.49434184],
         [0.84583343],
         [0.45611667],
         [0.46786998],
         [0.4888805 ],
         [0.64968508],
         [1.18382395],
         [0.81060934],
         [0.46946744],
         [1.37428465],
         [1.48239475],
         [1.06512879],
         [0.47827669],
         [0.52116697],
         [0.48901312],
         [0.73195364],
         [0.80038327],
         [0.54235514],
         [0.80578045],
         [0.97912976],
         [0.58000364],
         [0.53278804],
         [0.7273412 ],
         [0.64285856],
         [0.45839576],
         [0.97261549],
         [0.990727  ]],

        [[0.67633226],
         [1.03972362],
         [0.59806189],
         [0.9822851 ],
         [0.58225922],
         [1.28993906],
         [1.11717921],
         [0.64368598],
         [0.57917799],
         [0.51089812],
         [0.64499163],
         [1.38752006],
         [1.01159404],
         [0.48242088],
         [0.56692183],
         [0.52403028],
         [0.84292848],
         [0.46029999],
         [1.01279553],
         [1.03220149],
         [0.73582529],
         [0.50246568],
         [0.4868293 ],
         [0.48688261],
         [0.84633731],
         [0.46438277],
         [0.47581556],
         [0.48679847],
         [0.62877722],
         [1.19935842],
         [0.81008854],
         [0.47097325],
         [1.40056048],
         [1.50978365],
         [1.03537371],
         [0.48800742],
         [0.51590357],
         [0.4836549 ],
         [0.73618411],
         [0.81494178],
         [0.56471175],
         [0.82146641],
         [0.99567428],
         [0.57455322],
         [0.51979794],
         [0.71083683],
         [0.64861494],
         [0.47654397],
         [0.98804896],
         [0.98202058]],

        [[0.65288138],
         [1.01735615],
         [0.60215108],
         [1.01470317],
         [0.58703783],
         [1.28672744],
         [1.10702786],
         [0.65486562],
         [0.5718188 ],
         [0.52427191],
         [0.64077434],
         [1.39598476],
         [1.01044626],
         [0.49107804],
         [0.56509123],
         [0.52512091],
         [0.83772963],
         [0.46761729],
         [0.98954823],
         [1.00878373],
         [0.73241271],
         [0.49034014],
         [0.48086677],
         [0.48213258],
         [0.86582545],
         [0.46053985],
         [0.48262036],
         [0.467291  ],
         [0.64085915],
         [1.2073698 ],
         [0.80975589],
         [0.48420996],
         [1.39236491],
         [1.49231406],
         [1.0460438 ],
         [0.48941668],
         [0.52044471],
         [0.47393181],
         [0.72233517],
         [0.81768838],
         [0.54025718],
         [0.83085872],
         [0.98683445],
         [0.57035526],
         [0.50984702],
         [0.72741481],
         [0.63540824],
         [0.46863717],
         [0.97556333],
         [0.99199087]],

        [[0.67260168],
         [1.03998269],
         [0.59785814],
         [0.99108986],
         [0.56414874],
         [1.31776739],
         [1.11470198],
         [0.62827833],
         [0.57375577],
         [0.52762322],
         [0.65089568],
         [1.36791775],
         [1.02450621],
         [0.46766356],
         [0.56343671],
         [0.52485082],
         [0.83736261],
         [0.46534027],

## Indexing

Indexing in vectors works just as in lists:

In [29]:
vec_1 = np.array([1,2,3])

In [30]:
vec_1[0]

np.int64(1)

For matrices and higher-dimensional arrays, a single index selects a single row:

In [43]:
mat_1 = np.array(([1,2,3],[4,5,6]))

In [44]:
mat_1[0]

array([1, 2, 3])

In [ ]:
mat_1[0][1]

Instead of using two brackets, you can also separate the row and column index by a comma:

In [ ]:
# The following two lines of code are equivalent
print(mat_1[0][0])
print(mat_1[0,0])

### Slicing

Slicing is a useful way of extracting more than one element. In particular, `j:k` extracts the elements j,...,k-1:

In [37]:
vec = np.arange(10)
print(vec)

[0 1 2 3 4 5 6 7 8 9]

In [ ]:
vec[3:7] #the last number is not included

array([3, 4, 5, 6])

We can leave either end of the range away and it will default to the beginning and the end of the list, respectively.

In [39]:
vec[:7]

array([0, 1, 2, 3, 4, 5, 6])

In [40]:
vec[3:]

array([3, 4, 5, 6, 7, 8, 9])

In [ ]:
vec[:] # What do you think this will do? -> It includes everything

You can therefore also use the colon to select all rows of a matrix and specific columns.

In [45]:
mat_1

array([[1, 2, 3],
       [4, 5, 6]])

In [46]:
mat_1[:,0]

array([1, 4])

You can add another colon to specify a step size, similarly to how you would use these three arguments in `range`.

In [47]:
vec[3:7:2]

array([3, 5])

We could still leave away the beginning or the end of the slice:

In [48]:
vec[::2]

array([0, 2, 4, 6, 8])

### Question 2
Predict the output of the following commands:

In [49]:
vec[:4]

array([0, 1, 2, 3])

In [50]:
vec[5:9:2]

array([5, 7])

In [51]:
vec[:7:2]

array([0, 2, 4, 6])

In [52]:
vec[2::2]

array([2, 4, 6, 8])

### Boolean indexing

Do you remember how to create an array that is true if and only if `vec` is smaller than 5?

In [53]:
vec = np.arange(10)
vec

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
selector = vec <= 5 #Identities that meet the condition
selector

array([ True,  True,  True,  True,  True,  True, False, False, False,
       False])

You can use these boolean arrays to subset the corresponding true values.

In [55]:
vec

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
vec[selector] #This identities can be pooled out

array([0, 1, 2, 3, 4, 5])

In [57]:
vec[vec<=5]

array([0, 1, 2, 3, 4, 5])

You can do the same with matrices:

In [65]:
mat_1 = np.array([[1, 2],
       [3, 4],
       [5, 6]])

In [59]:
mat_1 >= 3

array([[False, False],
       [ True,  True],
       [ True,  True]])

In [ ]:
mat_1[mat_1 >= 3] #There is a argument that can be passed to keep the original structure from the matrix

array([3, 4, 5, 6])

### Questions 3
- Consider the example matrix from above and subset all entries with values between 2 and 4. You can try to do this in one line or do it through multiple lines!

In [72]:
mat_2 = mat_1[mat_1 >= 2]
mat_2[mat_2 <= 4]

array([2, 3, 4])

In [ ]:
mat_1 = [(mat_1 >= 2) & (mat_1 <= 4)]

TypeError: '>=' not supported between instances of 'list' and 'int'

# Pandas
## Python's package for handling data
### Motivation for pandas
Dictionaries allow us to save multiple attributes of a particular object. For example, we can store some information about a lesson:

In [78]:
lesson_5 = {
    'topic': 'Numpy',
    'teacher': 'Sharon',
    'week': 5
}

Often, we collect multiple observations for which we record the same attributes and we'd like to store them together:

In [79]:
lesson_3 = {
    'topic': 'Basics of Python 2',
    'teacher': 'Sharon',
    'week': 3
}
lesson_1 = {
    'topic': 'Setting up Python',
    'teacher': 'Abhi',
    'week': 1
}

We could go about this by storing them in a list:

In [80]:
lst_lessons = [lesson_5, lesson_3, lesson_1]

In [81]:
lst_lessons

[{'topic': 'Numpy', 'teacher': 'Sharon', 'week': 5},
 {'topic': 'Basics of Python 2', 'teacher': 'Sharon', 'week': 3},
 {'topic': 'Setting up Python', 'teacher': 'Abhi', 'week': 1}]

However, such lists are lacking a lot of functionality. For example, we may want to print out only those observations where Jasmine was the teacher. We'd have to use a for loop for this:

In [83]:
sharons_lessons = [
    lesson for lesson in lst_lessons if lesson['teacher'] == 'Sharon'
]
sharons_lessons

[{'topic': 'Numpy', 'teacher': 'Sharon', 'week': 5},
 {'topic': 'Basics of Python 2', 'teacher': 'Sharon', 'week': 3}]

We therefore need a new data structure that can record multiple pieces of information about multiple observations. This is provided by `pandas` (which stands for *panel data*):

In [82]:
#We normally import pandas like this
import pandas as pd

The core object in pandas is a *data frame*, which consists of observations organized along its rows and different pieces of information about its observations organized along its columns.

In [84]:
df_lessons = pd.DataFrame(lst_lessons)
df_lessons

                topic teacher  week
0               Numpy  Sharon     5
1  Basics of Python 2  Sharon     3
2   Setting up Python    Abhi     1

### Finding out basic information

In [85]:
df_lessons.shape

(3, 3)

In [86]:
df_lessons.columns

Index(['topic', 'teacher', 'week'], dtype='object')

### Indexing

Regular brackets return a specific column or a subset of columns:

In [87]:
df_lessons['teacher']

0    Sharon
1    Sharon
2      Abhi
Name: teacher, dtype: object

(*Note:* The object that is returned is called a `pd.Series` and has a few additional features compared to a one-dimensional numpy array. I personally don't use those additional features and think they are counter-productive, but you can look them up if you have to interact with them.)

You can operate on those columns in the same way you would operate on numpy arrays:

In [88]:
df_lessons['teacher'] == 'Sharon'

0     True
1     True
2    False
Name: teacher, dtype: bool

In [89]:
df_lessons[['topic', 'teacher']]

                topic teacher
0               Numpy  Sharon
1  Basics of Python 2  Sharon
2   Setting up Python    Abhi

`.loc` allows you to index data frames by row numbers and column names:

In [90]:
df_lessons.loc[1, 'teacher']

'Sharon'

This also works with slicing:

In [91]:
df_lessons.loc[1:, 'teacher']

1    Sharon
2      Abhi
Name: teacher, dtype: object

In [92]:
df_lessons.loc[:, ['topic', 'teacher']]

                topic teacher
0               Numpy  Sharon
1  Basics of Python 2  Sharon
2   Setting up Python    Abhi

`iloc` works in the same way, but allows you to access columns according to their numerical index rather than their name:

In [93]:
df_lessons.iloc[1, 1]

'Sharon'

Finally you can also do boolean indexing with rectangular brackets.

In [94]:
selector = df_lessons['teacher'] == 'Sharon'
df_lessons[selector]

                topic teacher  week
0               Numpy  Sharon     5
1  Basics of Python 2  Sharon     3

(Note that the single `=` assigns the command to the right of it to the variable on its left. The double `==` on the other hand compares the values in `df_lessons['teacher']` and determines whether they are equal to `'Jasmine'`.)

In [95]:
df_lessons[df_lessons['teacher']=='Sharon']

                topic teacher  week
0               Numpy  Sharon     5
1  Basics of Python 2  Sharon     3

Finally, you can add new columns in the same way you would add a new key, value pair to a dictionary:

In [96]:
df_lessons

                topic teacher  week
0               Numpy  Sharon     5
1  Basics of Python 2  Sharon     3
2   Setting up Python    Abhi     1

In [98]:
df_lessons['homework'] = [True, True, False]

In [103]:
df_lessons

['Pandas', 'Sam', 6, False]

### Exercises
1. Create a data frame that additionally includes this week (week 6) with the appropriate topic (pandas) and teacher (Sam).
2. Print out the topic for the second row.
3. Subset the data frame to only print out the lessons for week 3 and higher.
4. Create a new data frame that also includes week 7's lesson with teacher Sam. However, you don't know the topic yet. How does `pandas` represent this information? (Hint: Create a dictionary that only contains the keys `week` and `teacher`, but not `topic`. Try adding it to the list we used above and turning it into a dataframe.)
5. You could have alternately also represented this information as a two-dimensional array with observations structured along rows and variables structured along columns. What would the difference be and why might this be a bad idea in this case? Discuss with the other students at your table.

In [135]:
df_lessons = pd.DataFrame(lst_lessons)
df_lessons

                topic teacher  week
0               Numpy  Sharon     5
1  Basics of Python 2  Sharon     3
2   Setting up Python    Abhi     1
3              Pandas     Sam     6
4              Pandas     Sam     6
5              Pandas     Sam     6
6              Pandas     Sam     6
7              Pandas     Sam     6

In [134]:
new_row =  {
    "topic": "Pandas", 
    "teacher": "Sam", 
    "week": 6
}

lst_lessons.append(new_row)
df=pd.DataFrame(lst_lessons)

df

                topic teacher  week
0               Numpy  Sharon     5
1  Basics of Python 2  Sharon     3
2   Setting up Python    Abhi     1
3              Pandas     Sam     6
4              Pandas     Sam     6
5              Pandas     Sam     6
6              Pandas     Sam     6
7              Pandas     Sam     6

### Saving and loading a data frame
You can save data frames in different formats. A popular format is csv (comma-separated values), which represents each observation in one row and each variable separated by commas.

In [ ]:
df_lessons.to_csv('df_lessons.csv')

Let's inspect this file.

We'll be using csv files today. Note that they are not always ideal. For example, they do not save the type of your different values which can lead to issues. The hdf5 format is a popular alternative (but a little more complicated to use); alternatively the feather format is lightweight and more reliable, but a little less common.

In [ ]:
df_lessons_loaded = pd.read_csv('df_lessons.csv')

In [ ]:
df_lessons_loaded

### Exercises
1. Read in the file `dot_motion.csv` using pandas and assign it to the variable `df_dm`.
2. Try exploring the file and describe the data contained in it.
3. Subset the data frame to only contain the observations with a reaction time of above 100.
4. Create a new variable 'accuracy' that is 1 if the motion and the choice are matching and 0 otherwise.

#### Hint for 4:
If the motion and choice are matching, their entries should be equal. Create an array `accuracy` that contains as a boolean whether they are or are not matching. You can turn this boolean array (with True and False value) into a float array (which will assign 1 to True and 0 to False), using `accuracy.astype(float)`.